.container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    margin-bottom: 50px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
}

.grid-container > .cell {
    width: 100px;
    height: 100px;
    border: 2px solid darkred;
    line-height: 100px;
    cursor: pointer;
    background-color: rebeccapurple;
    color: white;
}

.grid-container > .cell.active {
    border-color: lightcoral;
    background-color: darkcyan;
}

.grid-container > .bomb {
    background-color: chartreuse;
}

.grid-container > .clicked {
    background-color: aqua;
}
